In [1]:
#importing libraries 
import pandas as pd
import numpy as np
from geopy import distance
import warnings
#warnings.filterwarnings("ignore", category=DeprecationWarning) 
import datetime

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
import os 
os.chdir("C:\\Users\\274827")

In [4]:
# load the dataset 
df = pd.read_excel('HR38X.xltm')

In [5]:
# Display the data set
df.head()
print(df.shape)

(1666, 3)

In [6]:
df

       Latitude  Longitude        Packet Time
0     13.007143  80.006966  29-Sep-2021 01:06
1     13.007143  80.006966  29-Sep-2021 01:11
2     13.007143  80.006966  29-Sep-2021 01:16
3     13.007143  80.006966  29-Sep-2021 01:21
4     13.007143  80.006966  29-Sep-2021 01:26
...         ...        ...                ...
1661  24.524893  73.680405  04-Oct-2021 23:45
1662  24.524893  73.680405  04-Oct-2021 23:50
1663  24.524893  73.680405  04-Oct-2021 23:55
1664  24.524893  73.680405  04-Oct-2021 23:59
1665        NaN        NaN                NaN

[1666 rows x 3 columns]

In [85]:
df.shape

(1666, 3)

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1666 entries, 0 to 1665
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Latitude     1665 non-null   float64
 1   Longitude    1665 non-null   float64
 2   Packet Time  1665 non-null   object
dtypes: float64(2), object(1)
memory usage: 39.2+ KB

In [87]:
df = df[df['Packet Time'].notna()]

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1665 entries, 0 to 1664
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Latitude     1665 non-null   float64
 1   Longitude    1665 non-null   float64
 2   Packet Time  1665 non-null   object
dtypes: float64(2), object(1)
memory usage: 52.0+ KB

In [89]:
df['Packet Time'] = pd.to_datetime(df['Packet Time'])

In [90]:
df['Time_diff'] = [x.iloc[-1] - x.iloc[0] for x in df['Packet Time'].rolling(2) if len(x)>0]

In [91]:
df['Time_diff'].value_counts()

0 days 00:05:00    1445
0 days 00:06:00     214
0 days 00:07:00       3
0 days 00:39:00       1
0 days 00:04:00       1
0 days 00:00:00       1
Name: Time_diff, dtype: int64

In [92]:
df['Time_diff'].sum()

Timedelta('5 days 22:53:00')

In [93]:
def haversine_distance(lat1, lon1, lat2, lon2):
   r = 6371
   phi1 = np.radians(lat1)
   phi2 = np.radians(lat2)
   delta_phi = np.radians(lat2 - lat1)
   delta_lambda = np.radians(lon2 - lon1)
   a = np.sin(delta_phi / 2)**2 + np.cos(phi1) * np.cos(phi2) *   np.sin(delta_lambda / 2)**2
   res = r * (2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a)))
   return np.round(res, 2)

In [94]:
# Setting dealer's location 
df['dealer_lat'] = 30.3255646

In [95]:
df['dealer_long'] = 78.0436813

In [96]:
dealer_lat = 30.3255646
dealer_long = 78.0436813


distances_km = []
for row in df.itertuples(index=False):
   distances_km.append(
       haversine_distance(dealer_lat, dealer_long, row.Latitude, row.Longitude)
   )

In [97]:
df['Distance'] = distances_km

In [98]:
df['Distance'].min()

648.3

In [99]:
df.iloc[np.where(df.Distance==df.Distance.min())]

,Latitude,Longitude,Packet Time,Time_diff,dealer_lat,dealer_long,Distance
1478,25.342077,74.619530,2021-10-04 08:09:00,0 days 00:05:00,30.325565,78.043681,648.3
1479,25.342077,74.619568,2021-10-04 08:14:00,0 days 00:05:00,30.325565,78.043681,648.3
1480,25.342077,74.619568,2021-10-04 08:20:00,0 days 00:06:00,30.325565,78.043681,648.3
1481,25.342077,74.619568,2021-10-04 08:25:00,0 days 00:05:00,30.325565,78.043681,648.3
1482,25.342064,74.619560,2021-10-04 08:30:00,0 days 00:05:00,30.325565,78.043681,648.3
1483,25.342064,74.619560,2021-10-04 08:35:00,0 days 00:05:00,30.325565,78.043681,648.3
1484,25.342064,74.619560,2021-10-04 08:40:00,0 days 00:05:00,30.325565,78.043681,648.3
1485,25.342064,74.619560,2021-10-04 08:45:00,0 days 00:05:00,30.325565,78.043681,648.3
1486,25.342064,74.619560,2021-10-04 08:50:00,0 days 00:05:00,30.325565,78.043681,648.3
1487,25.342064,74.619560,2021-10-04 08:56:00,0 days 00:06:00,30.325565,78.043681,648.3
1488,25.342064,74.619560,2021-10-04 09:01:00,0 days 00:05:00,30.325565,78.043681,648.3
1489,25.342064,74.619560,2021-10-04 09:06:00,0 days 00:05:00,30.325565,78.043681,648.3
1490,25.342064,74.619560,2021-10-04 09:11:00,0 days 00:05:00,30.325565,78.043681,648.3
1491,25.342064,74.619560,2021-10-04 09:16:00,0 days 00:05:00,30.325565,78.043681,648.3
1492,25.342064,74.619560,2021-10-04 09:21:00,0 days 00:05:00,30.325565,78.043681,648.3
1493,25.342064,74.619560,2021-10-04 09:26:00,0 days 00:05:00,30.325565,78.043681,648.3
1494,25.342064,74.619560,2021-10-04 09:31:00,0 days 00:05:00,30.325565,78.043681,648.3
1495,25.342064,74.619560,2021-10-04 09:36:00,0 days 00:05:00,30.325565,78.043681,648.3
1496,25.342064,74.619560,2021-10-04 09:41:00,0 days 00:05:00,30.325565,78.043681,648.3
1497,25.342045,74.619568,2021-10-04 09:47:00,0 days 00:06:00,30.325565,78.043681,648.3
1498,25.342045,74.619568,2021-10-04 09:52:00,0 days 00:05:00,30.325565,78.043681,648.3
1499,25.342045,74.619568,2021-10-04 09:57:00,0 days 00:05:00,30.325565,78.043681,648.3
1500,25.342045,74.619568,2021-10-04 10:02:00,0 days 00:05:00,30.325565,78.043681,648.3
1501,25.342045,74.619568,2021-10-04 10:07:00,0 days 00:05:00,30.325565,78.043681,648.3
1502,25.342045,74.619568,2021-10-04 10:12:00,0 days 00:05:00,30.325565,78.043681,648.3
1503,25.342045,74.619568,2021-10-04 10:17:00,0 days 00:05:00,30.325565,78.043681,648.3
1504,25.342045,74.619568,2021-10-04 10:22:00,0 days 00:05:00,30.325565,78.043681,648.3
1505,25.342045,74.619568,2021-10-04 10:27:00,0 days 00:05:00,30.325565,78.043681,648.3
1506,25.342045,74.619568,2021-10-04 10:33:00,0 days 00:06:00,30.325565,78.043681,648.3
1507,25.342045,74.619568,2021-10-04 10:38:00,0 days 00:05:00,30.325565,78.043681,648.3

In [100]:
df.Distance.min()

648.3

In [101]:
from haversine import haversine

In [102]:
print(haversine((25.342077,74.619530),(30.325565,78.043681), unit='km'))

648.3035174328513

In [103]:
df['Status'] = np.where(df['Distance']!= df['Distance'].min(), 'In-transit', 'Unloading-Point')

In [104]:
df.shape

(1665, 8)

In [105]:
df.iloc[np.where(df.Distance==df.Distance.min())]

,Latitude,Longitude,Packet Time,Time_diff,dealer_lat,dealer_long,Distance,Status
1478,25.342077,74.619530,2021-10-04 08:09:00,0 days 00:05:00,30.325565,78.043681,648.3,Unloading-Point
1479,25.342077,74.619568,2021-10-04 08:14:00,0 days 00:05:00,30.325565,78.043681,648.3,Unloading-Point
1480,25.342077,74.619568,2021-10-04 08:20:00,0 days 00:06:00,30.325565,78.043681,648.3,Unloading-Point
1481,25.342077,74.619568,2021-10-04 08:25:00,0 days 00:05:00,30.325565,78.043681,648.3,Unloading-Point
1482,25.342064,74.619560,2021-10-04 08:30:00,0 days 00:05:00,30.325565,78.043681,648.3,Unloading-Point
1483,25.342064,74.619560,2021-10-04 08:35:00,0 days 00:05:00,30.325565,78.043681,648.3,Unloading-Point
1484,25.342064,74.619560,2021-10-04 08:40:00,0 days 00:05:00,30.325565,78.043681,648.3,Unloading-Point
1485,25.342064,74.619560,2021-10-04 08:45:00,0 days 00:05:00,30.325565,78.043681,648.3,Unloading-Point
1486,25.342064,74.619560,2021-10-04 08:50:00,0 days 00:05:00,30.325565,78.043681,648.3,Unloading-Point
1487,25.342064,74.619560,2021-10-04 08:56:00,0 days 00:06:00,30.325565,78.043681,648.3,Unloading-Point
1488,25.342064,74.619560,2021-10-04 09:01:00,0 days 00:05:00,30.325565,78.043681,648.3,Unloading-Point
1489,25.342064,74.619560,2021-10-04 09:06:00,0 days 00:05:00,30.325565,78.043681,648.3,Unloading-Point
1490,25.342064,74.619560,2021-10-04 09:11:00,0 days 00:05:00,30.325565,78.043681,648.3,Unloading-Point
1491,25.342064,74.619560,2021-10-04 09:16:00,0 days 00:05:00,30.325565,78.043681,648.3,Unloading-Point
1492,25.342064,74.619560,2021-10-04 09:21:00,0 days 00:05:00,30.325565,78.043681,648.3,Unloading-Point
1493,25.342064,74.619560,2021-10-04 09:26:00,0 days 00:05:00,30.325565,78.043681,648.3,Unloading-Point
1494,25.342064,74.619560,2021-10-04 09:31:00,0 days 00:05:00,30.325565,78.043681,648.3,Unloading-Point
1495,25.342064,74.619560,2021-10-04 09:36:00,0 days 00:05:00,30.325565,78.043681,648.3,Unloading-Point
1496,25.342064,74.619560,2021-10-04 09:41:00,0 days 00:05:00,30.325565,78.043681,648.3,Unloading-Point
1497,25.342045,74.619568,2021-10-04 09:47:00,0 days 00:06:00,30.325565,78.043681,648.3,Unloading-Point
1498,25.342045,74.619568,2021-10-04 09:52:00,0 days 00:05:00,30.325565,78.043681,648.3,Unloading-Point
1499,25.342045,74.619568,2021-10-04 09:57:00,0 days 00:05:00,30.325565,78.043681,648.3,Unloading-Point
1500,25.342045,74.619568,2021-10-04 10:02:00,0 days 00:05:00,30.325565,78.043681,648.3,Unloading-Point
1501,25.342045,74.619568,2021-10-04 10:07:00,0 days 00:05:00,30.325565,78.043681,648.3,Unloading-Point
1502,25.342045,74.619568,2021-10-04 10:12:00,0 days 00:05:00,30.325565,78.043681,648.3,Unloading-Point
1503,25.342045,74.619568,2021-10-04 10:17:00,0 days 00:05:00,30.325565,78.043681,648.3,Unloading-Point
1504,25.342045,74.619568,2021-10-04 10:22:00,0 days 00:05:00,30.325565,78.043681,648.3,Unloading-Point
1505,25.342045,74.619568,2021-10-04 10:27:00,0 days 00:05:00,30.325565,78.043681,648.3,Unloading-Point
1506,25.342045,74.619568,2021-10-04 10:33:00,0 days 00:06:00,30.325565,78.043681,648.3,Unloading-Point
1507,25.342045,74.619568,2021-10-04 10:38:00,0 days 00:05:00,30.325565,78.043681,648.3,Unloading-Point

In [106]:
# dataset with stop at unloading point

In [107]:
df.shape

(1665, 8)

In [108]:
1665 - 1479

186

In [109]:
df_new = df[0:1479]

In [110]:
df_new.shape

(1479, 8)

In [111]:
df_new.head(1)

,Latitude,Longitude,Packet Time,Time_diff,dealer_lat,dealer_long,Distance,Status
0,13.007143,80.006966,2021-09-29 01:06:00,0 days,30.325565,78.043681,1936.26,In-transit

In [112]:
df_new.tail(1)

,Latitude,Longitude,Packet Time,Time_diff,dealer_lat,dealer_long,Distance,Status
1478,25.342077,74.61953,2021-10-04 08:09:00,0 days 00:05:00,30.325565,78.043681,648.3,Unloading-Point

In [122]:
import requests
import json
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/80.006966,13.007143;74.61953,25.342077;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'Adv-5800',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 1835585.8, 2197800]],
  'code': 'Ok',
  'durations': [[0, 150102.6, 146893.1]]},
 'responseCode': 200}

In [123]:
1835585.8/1000

1835.5858

In [124]:
df_new['Status'].value_counts()

In-transit         1478
Unloading-Point       1
Name: Status, dtype: int64

In [125]:
df_new['Time_diff'] = [x.iloc[-1] - x.iloc[0] for x in df_new['Packet Time'].rolling(2) if len(x)>0]

In [126]:
df_new['Time_diff'].value_counts()

0 days 00:05:00    1281
0 days 00:06:00     193
0 days 00:07:00       3
0 days 00:39:00       1
0 days 00:00:00       1
Name: Time_diff, dtype: int64

In [127]:
df_new['Time_diff'].sum()

Timedelta('5 days 07:03:00')

In [128]:
dt1 = '2021-09-29 01:06:00'
d1 = pd.to_datetime(dt1)
dt2 = '2021-10-04 08:09:00'
d2 = pd.to_datetime(dt2)

a = d2-d1
a

Timedelta('5 days 07:03:00')

In [129]:
# Concatinate latitude and Longitude -> convert it to string 
df_new['Lat,Lngt'] = df_new["Latitude"].astype(str) + df_new["Longitude"].astype(str)

In [130]:
## stoppage time new

In [131]:
hr8xgby = df_new.groupby('Lat,Lngt').agg({'Time_diff': np.sum})

In [132]:
hr8xgby.value_counts()

Time_diff
0 days 00:05:00    568
0 days 00:06:00     97
0 days 00:16:00      6
0 days 00:10:00      5
0 days 00:11:00      4
0 days 00:15:00      4
0 days 00:21:00      3
0 days 00:36:00      3
0 days 00:07:00      2
0 days 00:26:00      2
0 days 07:13:00      1
0 days 00:12:00      1
0 days 00:20:00      1
0 days 00:41:00      1
0 days 00:42:00      1
0 days 00:54:00      1
0 days 08:20:00      1
0 days 01:07:00      1
0 days 01:12:00      1
0 days 01:17:00      1
0 days 01:37:00      1
0 days 02:03:00      1
0 days 02:07:00      1
0 days 02:29:00      1
0 days 02:38:00      1
0 days 03:29:00      1
0 days 03:30:00      1
0 days 03:55:00      1
0 days 04:56:00      1
0 days 05:53:00      1
0 days 06:13:00      1
0 days 01:06:00      1
dtype: int64

In [133]:
hr8xgby['Time_diff'].sum()

Timedelta('5 days 07:03:00')

In [134]:
hr8xgby_res = hr8xgby[hr8xgby['Time_diff'] >= '01:00:00']

In [135]:
hr8xgby_res

                         Time_diff
Lat,Lngt
12.54626778.199791 0 days 01:17:00
12.85359878.819534 0 days 03:29:00
12.99524880.012947 0 days 03:30:00
13.0070780.006927  0 days 06:13:00
13.00714380.006966 0 days 08:20:00
13.0841977.414391  0 days 02:07:00
13.77332276.841843 0 days 03:55:00
13.78801476.812935 0 days 07:13:00
13.7880576.812973  0 days 02:29:00
13.91919976.65313  0 days 01:07:00
13.9192276.653038  0 days 01:06:00
13.91945976.65329  0 days 02:38:00
13.91955476.653244 0 days 05:53:00
15.87767676.166298 0 days 01:12:00
15.8777676.166298  0 days 02:03:00
19.97592774.490303 0 days 04:56:00
20.5962774.601501  0 days 01:37:00

In [136]:
## stoppage time

In [137]:
df_new.groupby(['Latitude', 'Longitude'])['Longitude'].value_counts()

Latitude   Longitude  Longitude
12.511117  78.228058  78.228058    1
12.521858  78.211182  78.211182    1
12.533783  78.287346  78.287346    1
12.535763  78.253349  78.253349    1
12.536282  78.384140  78.384140    1
                                  ..
25.310026  74.567764  74.567764    1
25.315237  74.567245  74.567245    1
25.328020  74.586906  74.586906    1
25.336262  74.604301  74.604301    1
25.342077  74.619530  74.619530    1
Name: Longitude, Length: 716, dtype: int64

In [138]:
hr38x=df_new.groupby(['Latitude', 'Longitude']).agg({'Time_diff':['sum']})

In [139]:
hr38x

                          Time_diff
                                sum
Latitude  Longitude
12.511117 78.228058 0 days 00:05:00
12.521858 78.211182 0 days 00:05:00
12.533783 78.287346 0 days 00:05:00
12.535763 78.253349 0 days 00:05:00
12.536282 78.384140 0 days 00:05:00
...                             ...
25.310026 74.567764 0 days 00:05:00
25.315237 74.567245 0 days 00:05:00
25.328020 74.586906 0 days 00:05:00
25.336262 74.604301 0 days 00:05:00
25.342077 74.619530 0 days 00:05:00

[716 rows x 1 columns]

In [140]:
df1 = pd.read_excel("C:\\Users\\274827\\Downloads\\hr38x7641.xltm")

In [141]:
df1

      Latitude  Longitude                min                max
0    12.511117  78.228058  30-Sep-2021 06:17  30-Sep-2021 06:17
1    12.521858  78.211182  30-Sep-2021 06:22  30-Sep-2021 06:22
2    12.533783  78.287346  30-Sep-2021 06:07  30-Sep-2021 06:07
3    12.535763  78.253349  30-Sep-2021 06:12  30-Sep-2021 06:12
4    12.536282  78.384140  30-Sep-2021 05:51  30-Sep-2021 05:51
..         ...        ...                ...                ...
772  25.340065  74.613731  04-Oct-2021 10:43  04-Oct-2021 10:43
773  25.342045  74.619568  04-Oct-2021 09:47  04-Oct-2021 10:38
774  25.342064  74.619560  04-Oct-2021 08:30  04-Oct-2021 09:41
775  25.342077  74.619530  04-Oct-2021 08:09  04-Oct-2021 08:09
776        NaN  74.619568  04-Oct-2021 08:14  04-Oct-2021 08:25

[777 rows x 4 columns]

In [142]:
df1['max']=pd.to_datetime(df1['max'])

In [143]:
df1['min']=pd.to_datetime(df1['min'])

In [144]:
df1['diff']=df1['max']-df1['min']

In [145]:
df1['diff'].count()

777

In [146]:
stoppage = df1[df1['diff'] >= '1:00:00']

In [147]:
stoppage['diff'].count()

20

In [148]:
print(stoppage['diff'].min())
print(stoppage['diff'].max())
print(stoppage['diff'].mean())
print(stoppage['diff'].median())

0 days 01:01:00
0 days 08:20:00
0 days 02:59:21
0 days 02:12:30

In [149]:
# Dataset 2 

df_gj = pd.read_excel("D:\\Sales Logistic Project\\GJ12BV6093.xltm")

In [150]:
df_gj.shape

(2019, 2)

In [151]:
df_gj = df_gj[df_gj['Lat,Lngt'].notna()]

In [152]:
df_gj.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2018 entries, 0 to 2017
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Lat,Lngt  2018 non-null   object
 1   Period    2018 non-null   object
dtypes: object(2)
memory usage: 47.3+ KB

In [153]:
df_gj.head(2)

              Lat,Lngt                     Period
0  13.004329,79.990362  01/10 10:10 : 01/10 10:15
1  13.004329,79.990362  01/10 10:15 : 01/10 10:20

In [154]:
#splitting date col 
df_gj[['Latitude', 'Longitude']] = df_gj['Lat,Lngt'].str.split(',', 1, expand=True)

In [155]:
df_gj['Latitude'] = df_gj['Latitude'].astype(float)

In [156]:
df_gj['Longitude'] = df_gj['Longitude'].astype(float)

In [157]:
df_gj

                 Lat,Lngt                     Period   Latitude  Longitude
0     13.004329,79.990362  01/10 10:10 : 01/10 10:15  13.004329  79.990362
1     13.004329,79.990362  01/10 10:15 : 01/10 10:20  13.004329  79.990362
2     13.004329,79.990362  01/10 10:20 : 01/10 10:25  13.004329  79.990362
3     13.004329,79.990362  01/10 10:25 : 01/10 10:30  13.004329  79.990362
4     13.004329,79.990362  01/10 10:30 : 01/10 10:35  13.004329  79.990362
...                   ...                        ...        ...        ...
2013  30.381981,76.790381  08/10 10:35 : 08/10 10:40  30.381981  76.790381
2014  30.381981,76.790381  08/10 10:40 : 08/10 10:45  30.381981  76.790381
2015  30.381981,76.790381  08/10 10:45 : 08/10 10:50  30.381981  76.790381
2016  30.381981,76.790381  08/10 10:50 : 08/10 10:55  30.381981  76.790381
2017  30.381981,76.790381  08/10 10:55 : 08/10 10:56  30.381981  76.790381

[2018 rows x 4 columns]

In [158]:
#df_gj['start_dt'] = df_gj['Period'].map(lambda x:"2021"+"-"+str(x)[0:2]+"-"+str(x)[3:5]+" "+str(x)[6:11])
df_gj['start_dt'] = df_gj['Period'].map(lambda x:"2021"+"-"+str(x)[3:5]+"-"+str(x)[0:2]+" "+str(x)[6:11])
df_gj['start_dt'].head(2)

0    2021-10-01 10:10
1    2021-10-01 10:15
Name: start_dt, dtype: object

In [159]:
#df_gj['end_dt'] = df_gj['Period'].map(lambda x:"2021"+"-"+str(x)[13:16]+"-"+str(x)[17:20]+" "+str(x)[20:25])
df_gj['end_dt'] = df_gj['Period'].map(lambda x:"2021"+"-"+str(x)[17:20]+"-"+str(x)[13:16]+" "+str(x)[20:25])
df_gj['end_dt'].head(2)

0    2021-10 - 01 10:15
1    2021-10 - 01 10:20
Name: end_dt, dtype: object

In [160]:
df_gj['start_dt'] = pd.to_datetime(df_gj['start_dt'])

In [161]:
df_gj['end_dt'] = pd.to_datetime(df_gj['end_dt'])

In [162]:
df_gj['time_diff_test'] = df_gj['end_dt'] - df_gj['start_dt']

In [163]:
df_gj['time_diff_test'].value_counts()

0 days 00:05:00    2017
0 days 00:01:00       1
Name: time_diff_test, dtype: int64

In [164]:
df_gj['Time_diff'] = [x.iloc[-1] - x.iloc[0] for x in df_gj['end_dt'].rolling(2) if len(x)>0]

In [165]:
df_gj['Time_diff'].value_counts()

0 days 00:05:00    2008
0 days 00:10:00       8
0 days 00:01:00       1
0 days 00:00:00       1
Name: Time_diff, dtype: int64

In [166]:
df_gj['Time_diff'].sum()

Timedelta('7 days 00:41:00')

In [167]:
df_gj['dealer_lat'] = 30.384662

In [168]:
df_gj['dealer_long'] = 76.786064

In [169]:
df_gj

,"Lat,Lngt",Period,Latitude,Longitude,start_dt,end_dt,time_diff_test,Time_diff,dealer_lat,dealer_long
0,"13.004329,79.990362",01/10 10:10 : 01/10 10:15,13.004329,79.990362,2021-10-01 10:10:00,2021-10-01 10:15:00,0 days 00:05:00,0 days 00:00:00,30.384662,76.786064
1,"13.004329,79.990362",01/10 10:15 : 01/10 10:20,13.004329,79.990362,2021-10-01 10:15:00,2021-10-01 10:20:00,0 days 00:05:00,0 days 00:05:00,30.384662,76.786064
2,"13.004329,79.990362",01/10 10:20 : 01/10 10:25,13.004329,79.990362,2021-10-01 10:20:00,2021-10-01 10:25:00,0 days 00:05:00,0 days 00:05:00,30.384662,76.786064
3,"13.004329,79.990362",01/10 10:25 : 01/10 10:30,13.004329,79.990362,2021-10-01 10:25:00,2021-10-01 10:30:00,0 days 00:05:00,0 days 00:05:00,30.384662,76.786064
4,"13.004329,79.990362",01/10 10:30 : 01/10 10:35,13.004329,79.990362,2021-10-01 10:30:00,2021-10-01 10:35:00,0 days 00:05:00,0 days 00:05:00,30.384662,76.786064
...,...,...,...,...,...,...,...,...,...,...
2013,"30.381981,76.790381",08/10 10:35 : 08/10 10:40,30.381981,76.790381,2021-10-08 10:35:00,2021-10-08 10:40:00,0 days 00:05:00,0 days 00:05:00,30.384662,76.786064
2014,"30.381981,76.790381",08/10 10:40 : 08/10 10:45,30.381981,76.790381,2021-10-08 10:40:00,2021-10-08 10:45:00,0 days 00:05:00,0 days 00:05:00,30.384662,76.786064
2015,"30.381981,76.790381",08/10 10:45 : 08/10 10:50,30.381981,76.790381,2021-10-08 10:45:00,2021-10-08 10:50:00,0 days 00:05:00,0 days 00:05:00,30.384662,76.786064
2016,"30.381981,76.790381",08/10 10:50 : 08/10 10:55,30.381981,76.790381,2021-10-08 10:50:00,2021-10-08 10:55:00,0 days 00:05:00,0 days 00:05:00,30.384662,76.786064
2017,"30.381981,76.790381",08/10 10:55 : 08/10 10:56,30.381981,76.790381,2021-10-08 10:55:00,2021-10-08 10:56:00,0 days 00:01:00,0 days 00:01:00,30.384662,76.786064

In [170]:
df_gj

,"Lat,Lngt",Period,Latitude,Longitude,start_dt,end_dt,time_diff_test,Time_diff,dealer_lat,dealer_long
0,"13.004329,79.990362",01/10 10:10 : 01/10 10:15,13.004329,79.990362,2021-10-01 10:10:00,2021-10-01 10:15:00,0 days 00:05:00,0 days 00:00:00,30.384662,76.786064
1,"13.004329,79.990362",01/10 10:15 : 01/10 10:20,13.004329,79.990362,2021-10-01 10:15:00,2021-10-01 10:20:00,0 days 00:05:00,0 days 00:05:00,30.384662,76.786064
2,"13.004329,79.990362",01/10 10:20 : 01/10 10:25,13.004329,79.990362,2021-10-01 10:20:00,2021-10-01 10:25:00,0 days 00:05:00,0 days 00:05:00,30.384662,76.786064
3,"13.004329,79.990362",01/10 10:25 : 01/10 10:30,13.004329,79.990362,2021-10-01 10:25:00,2021-10-01 10:30:00,0 days 00:05:00,0 days 00:05:00,30.384662,76.786064
4,"13.004329,79.990362",01/10 10:30 : 01/10 10:35,13.004329,79.990362,2021-10-01 10:30:00,2021-10-01 10:35:00,0 days 00:05:00,0 days 00:05:00,30.384662,76.786064
...,...,...,...,...,...,...,...,...,...,...
2013,"30.381981,76.790381",08/10 10:35 : 08/10 10:40,30.381981,76.790381,2021-10-08 10:35:00,2021-10-08 10:40:00,0 days 00:05:00,0 days 00:05:00,30.384662,76.786064
2014,"30.381981,76.790381",08/10 10:40 : 08/10 10:45,30.381981,76.790381,2021-10-08 10:40:00,2021-10-08 10:45:00,0 days 00:05:00,0 days 00:05:00,30.384662,76.786064
2015,"30.381981,76.790381",08/10 10:45 : 08/10 10:50,30.381981,76.790381,2021-10-08 10:45:00,2021-10-08 10:50:00,0 days 00:05:00,0 days 00:05:00,30.384662,76.786064
2016,"30.381981,76.790381",08/10 10:50 : 08/10 10:55,30.381981,76.790381,2021-10-08 10:50:00,2021-10-08 10:55:00,0 days 00:05:00,0 days 00:05:00,30.384662,76.786064
2017,"30.381981,76.790381",08/10 10:55 : 08/10 10:56,30.381981,76.790381,2021-10-08 10:55:00,2021-10-08 10:56:00,0 days 00:01:00,0 days 00:01:00,30.384662,76.786064

In [171]:
## 
dealer_lat = 30.384662
dealer_long = 76.786064

#straight line dist

distances_km = []
for row in df_gj.itertuples(index=False):
   distances_km.append(
       haversine_distance(dealer_lat, dealer_long, row.Latitude, row.Longitude)
   )

In [172]:
df_gj['Distance'] = distances_km

In [173]:
df_gj[0:1]

,"Lat,Lngt",Period,Latitude,Longitude,start_dt,end_dt,time_diff_test,Time_diff,dealer_lat,dealer_long,Distance
0,"13.004329,79.990362",01/10 10:10 : 01/10 10:15,13.004329,79.990362,2021-10-01 10:10:00,2021-10-01 10:15:00,0 days 00:05:00,0 days,30.384662,76.786064,1960.44

In [174]:
df_gj.Distance.min()

0.42

In [175]:
df_gj.iloc[np.where(df_gj.Distance==df_gj.Distance.min())]

,"Lat,Lngt",Period,Latitude,Longitude,start_dt,end_dt,time_diff_test,Time_diff,dealer_lat,dealer_long,Distance
1965,"30.38216,76.789293",08/10 06:35 : 08/10 06:40,30.38216,76.789293,2021-10-08 06:35:00,2021-10-08 06:40:00,0 days 00:05:00,0 days 00:05:00,30.384662,76.786064,0.42

In [176]:
df_gj.describe()

,Latitude,Longitude,time_diff_test,Time_diff,dealer_lat,dealer_long,Distance
count,2018.000000,2018.000000,2018,2018,2.018000e+03,2.018000e+03,2018.000000
mean,20.549977,76.969307,0 days 00:04:59.881070366,0 days 00:05:00.921704658,3.038466e+01,7.678606e+01,1103.348523
std,6.128710,1.635098,0 days 00:00:05.342575408,0 days 00:00:20.719406777,1.332598e-12,2.146371e-12,686.281094
min,12.507226,74.434330,0 days 00:01:00,0 days 00:00:00,3.038466e+01,7.678606e+01,0.420000
25%,14.572178,75.855616,0 days 00:05:00,0 days 00:05:00,3.038466e+01,7.678606e+01,485.825000
50%,20.476463,76.790381,0 days 00:05:00,0 days 00:05:00,3.038466e+01,7.678606e+01,1125.145000
75%,26.212173,77.606368,0 days 00:05:00,0 days 00:05:00,3.038466e+01,7.678606e+01,1758.620000
max,30.382160,80.029286,0 days 00:05:00,0 days 00:10:00,3.038466e+01,7.678606e+01,1993.360000

In [177]:
df_gj.iloc[np.where(df_gj.Distance==df_gj.Distance.min())]

,"Lat,Lngt",Period,Latitude,Longitude,start_dt,end_dt,time_diff_test,Time_diff,dealer_lat,dealer_long,Distance
1965,"30.38216,76.789293",08/10 06:35 : 08/10 06:40,30.38216,76.789293,2021-10-08 06:35:00,2021-10-08 06:40:00,0 days 00:05:00,0 days 00:05:00,30.384662,76.786064,0.42

In [178]:
df_gj['Status'] = np.where(df_gj['Distance']!= df_gj['Distance'].min(), 'In-transit', 'Unloading-Point')

In [179]:
df_gj.shape

(2018, 12)

In [180]:
df_filtered = df_gj[0::20]

In [181]:
df_filtered.shape

(101, 12)

In [182]:
df_filtered.to_excel("filtered_93.xlsx")

In [183]:
df_gj[['Distance','Status']].min()

Distance          0.42
Status      In-transit
dtype: object

In [184]:
df_gj[0:1]

,"Lat,Lngt",Period,Latitude,Longitude,start_dt,end_dt,time_diff_test,Time_diff,dealer_lat,dealer_long,Distance,Status
0,"13.004329,79.990362",01/10 10:10 : 01/10 10:15,13.004329,79.990362,2021-10-01 10:10:00,2021-10-01 10:15:00,0 days 00:05:00,0 days,30.384662,76.786064,1960.44,In-transit

In [185]:
df_gj.iloc[np.where(df_gj.Distance==df_gj.Distance.min())]

,"Lat,Lngt",Period,Latitude,Longitude,start_dt,end_dt,time_diff_test,Time_diff,dealer_lat,dealer_long,Distance,Status
1965,"30.38216,76.789293",08/10 06:35 : 08/10 06:40,30.38216,76.789293,2021-10-08 06:35:00,2021-10-08 06:40:00,0 days 00:05:00,0 days 00:05:00,30.384662,76.786064,0.42,Unloading-Point

In [186]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/79.990362,13.004329;76.786064,30.384662;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

{'Server': 'Adv-5800',
 'version': '202110.19.5222',
 'results': {'distances': [[0, 2429357.2, 2198610.8]],
  'code': 'Ok',
  'durations': [[0, 160435.4, 146681.7]]},
 'responseCode': 200}

In [187]:
2429357.2/1000

2429.3572000000004

In [188]:
#gmap - 2423 / map my india 2428

SyntaxError: invalid syntax (<ipython-input-188-f4b07effa8a7>, line 1)

In [ ]:
#df_gj.to_excel("df_gj.xlsx")

In [194]:
df_gj_new = df_gj[0:1966]

In [195]:
df_gj_new.shape

(1966, 12)

In [196]:
df_gj_new.head(1)

,"Lat,Lngt",Period,Latitude,Longitude,start_dt,end_dt,time_diff_test,Time_diff,dealer_lat,dealer_long,Distance,Status
0,"13.004329,79.990362",01/10 10:10 : 01/10 10:15,13.004329,79.990362,2021-10-01 10:10:00,2021-10-01 10:15:00,0 days 00:05:00,0 days,30.384662,76.786064,1960.44,In-transit

In [197]:
df_gj_new.tail(1)

,"Lat,Lngt",Period,Latitude,Longitude,start_dt,end_dt,time_diff_test,Time_diff,dealer_lat,dealer_long,Distance,Status
1965,"30.38216,76.789293",08/10 06:35 : 08/10 06:40,30.38216,76.789293,2021-10-08 06:35:00,2021-10-08 06:40:00,0 days 00:05:00,0 days 00:05:00,30.384662,76.786064,0.42,Unloading-Point

In [198]:
df_gj_new['Status'].value_counts()

In-transit         1965
Unloading-Point       1
Name: Status, dtype: int64

In [199]:
df_gj_new['Time_diff'] = [x.iloc[-1] - x.iloc[0] for x in df_gj_new['end_dt'].rolling(2) if len(x)>0]

In [200]:
df_gj_new['Time_diff'].value_counts()

0 days 00:05:00    1957
0 days 00:10:00       8
0 days 00:00:00       1
Name: Time_diff, dtype: int64

In [201]:
df_gj_new['Time_diff'].sum()

Timedelta('6 days 20:25:00')

In [202]:
dt1 = '2021-10-01 10:15:00'
d1 = pd.to_datetime(dt1)
dt2 = '2021-10-08 06:40:00'
d2 = pd.to_datetime(dt2)

a = d2-d1
a

Timedelta('6 days 20:25:00')

In [203]:
## stoppage time new

In [204]:
GJ93gby = df_gj_new.groupby('Lat,Lngt').agg({'Time_diff': np.sum})

In [205]:
GJ93gby['Time_diff'].value_counts()

0 days 00:05:00    924
0 days 00:10:00      5
0 days 00:40:00      3
0 days 00:15:00      3
0 days 00:55:00      3
0 days 01:30:00      2
0 days 07:30:00      1
0 days 07:35:00      1
0 days 00:20:00      1
0 days 07:40:00      1
0 days 02:55:00      1
0 days 00:30:00      1
0 days 07:55:00      1
0 days 02:25:00      1
0 days 00:45:00      1
0 days 04:30:00      1
0 days 00:50:00      1
0 days 05:50:00      1
0 days 01:05:00      1
0 days 03:40:00      1
0 days 01:25:00      1
0 days 01:35:00      1
0 days 11:25:00      1
0 days 06:55:00      1
0 days 03:15:00      1
Name: Time_diff, dtype: int64

In [206]:
GJ93gby.count()

Time_diff    959
dtype: int64

In [207]:
GJ93gby.to_excel("GJ93.xlsx")

In [208]:
GJ93stop_res =GJ93gby[GJ93gby['Time_diff'] >= '1:00:00']

In [209]:
GJ93stop_res

                          Time_diff
Lat,Lngt
12.993878,80.012512 0 days 03:15:00
13.00429,79.990406  0 days 03:40:00
13.004315,79.990374 0 days 07:40:00
13.004329,79.990362 0 days 07:30:00
14.572178,76.440531 0 days 06:55:00
15.499821,76.267514 0 days 01:30:00
16.429733,75.907648 0 days 01:25:00
17.476622,75.855616 0 days 07:55:00
18.705057,75.037594 0 days 01:05:00
20.755903,74.721274 0 days 07:35:00
21.819916,75.18105  0 days 01:30:00
23.612387,76.539718 0 days 04:30:00
25.148689,77.606368 0 days 01:35:00
25.148849,77.606368 0 days 02:25:00
27.947184,77.347354 0 days 05:50:00
28.797516,76.614259 0 days 02:55:00
30.02458,76.884979  0 days 11:25:00

## stoppage time

In [ ]:
df_gj93=df_gj.groupby(['Latitude', 'Longitude']).agg({'end_dt':['min','max']})

In [ ]:
df_gj93

In [ ]:
df_gj93.to_excel("gj93.xlsx")

In [ ]:
df_gj93 = pd.read_excel("D:Sales Logistic Project\\gj93.xltm")

In [ ]:
df_gj93

In [ ]:
df_gj93['diff'].count()

In [ ]:
df_gj93['max']=pd.to_datetime(df_gj93['max'])

In [ ]:
df_gj93['min']=pd.to_datetime(df_gj93['min'])

In [ ]:
df_gj93['diff']=df_gj93['max']-df_gj93['min']

In [ ]:
df_gj93

In [ ]:
stoppage_93 = df_gj93[df_gj93['diff'] >= '1:00:00']

In [ ]:
stoppage_93['diff'].count()

In [ ]:
print("Mean :",stoppage_93['diff'].mean())
print("Median :",stoppage_93['diff'].median())
print("Max :",stoppage_93['diff'].max())
print("Min :",stoppage_93['diff'].min())
print("Sum :",stoppage_93['diff'].sum())

In [ ]:
#api

In [ ]:
dealer_lat = 30.384662
dealer_long = 76.786064

In [ ]:
80 - 100

13.004329,79.990362
13.004315,79.990374

In [ ]:
import requests
import json

In [ ]:

url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/79.990362,13.004329;79.990374,13.004315;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
# web 1.7 mts

In [ ]:
180 -200 
13.004315,79.990374
12.993878,80.012512

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/79.990374,13.004315;80.012512,12.993878;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
web - Via Bangalore High Road, NH 48
Click to see turn-by-turn guidanceFastest
6.30 km
16 min
Via Bangalore High Road, Hyundai Plant Main Road
Click to see turn-by-turn guidance
5.00 km
20 min

In [ ]:
220 - 240 
12.993878,80.012512
13.000614,79.991309

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/80.012512,12.993878;79.991309,13.000614;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
# web 4.20 km

In [ ]:
240 - 260 

13.000614,79.991309
13.00429,79.990406

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/79.991309,13.000614;79.990406,13.00429;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
# web 593 mts

In [ ]:
280 - 300

In [ ]:
13.00429,79.990406
12.904449,79.822707

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/79.990406,13.00429;79.822707,12.904449;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
# web 23.8

In [ ]:
300 - 320
12.904449,79.822707
12.871251,79.64023

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/79.822707,12.904449;79.64023,12.871251;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
# web 25.6 km

In [ ]:
320 -340

12.871251,79.64023
12.91311,79.018688

In [ ]:


url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/79.64023,12.871251;79.018688,12.91311;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
# web 72.

In [ ]:
340 - 360 

12.55527,78.456557
12.719202,77.871046

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/78.456557,12.55527;77.871046,12.719202;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
# web 76.2

In [ ]:
400 - 420

12.995796,77.473485
13.133592,77.356038

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/77.473485,12.995796;77.356038,13.133592;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
web 22.8

In [ ]:
420 - 440 

13.133592,77.356038
13.288945,77.180826

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/77.356038,13.133592;77.180826,13.288945;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
26 km

In [ ]:
440 - 460
13.288945,77.180826
13.818427,76.780288

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/77.180826,13.288945;76.780288,13.818427;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
76.4

In [ ]:
460 - 480 

13.818427,76.780288
14.245149,76.431053

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/76.780288,13.818427;76.431053,14.245149;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
63.7

In [ ]:
480 - 500 

14.245149,76.431053
14.572178,76.440531

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/76.431053,14.245149;76.440531,14.572178;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
web - 41.1

In [ ]:
# 560 -580 

14.572178,76.440531
14.820269,76.430528

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/76.440531,14.572178;76.430528,14.820269;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
29

In [ ]:
580 - 600 

14.820269,76.430528
15.363658,76.314266

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/76.430528,14.820269;76.314266,15.363658;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
69.4

In [ ]:
600 - 620 
15.363658,76.314266
15.499821,76.267514

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/76.314266,15.363658;76.267514,15.499821;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
16.3

In [ ]:
620 - 640 

15.499821,76.267514
15.976349,76.106822

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/76.267514,15.499821;76.106822,15.976349;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
57.9

In [ ]:
640 -660 

15.976349,76.106822
16.390301,75.92887

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/76.106822,15.976349;75.92887,16.390301;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
53.4

In [ ]:
660-680
16.390301,75.92887
16.429733,75.907648

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/75.92887,16.390301;75.907648,16.429733;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
4.93

In [ ]:
680-700

16.429733,75.907648
16.805466,75.736685

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/75.907648,16.429733;75.736685,16.805466;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
46.4

In [ ]:
700 - 720 

16.805466,75.736685
17.369438,75.844333

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/75.736685,16.805466;75.844333,17.369438;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
70.7

In [ ]:
720 740
17.369438,75.844333
17.476622,75.855616

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/75.844333,17.369438;75.855616,17.476622;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
12.2 km

In [ ]:
800-820 

17.476622,75.855616
17.476597,75.85593

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/75.855616,17.476622;75.85593,17.476597;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

4.8 mts

In [ ]:
820 - 840 
17.476597,75.85593
17.841352,75.574842

In [ ]:

url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/75.85593,17.476597;75.574842,17.841352;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
63.6 km / alternative 59.6 fastest

In [ ]:
840 - 860 
17.841352,75.574842
18.204866,75.191443

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/75.574842,17.841352;75.191443,18.204866;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
66.6km

In [ ]:
860 - 880
18.204866,75.191443
18.559528,75.150541

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/75.191443,18.204866;75.150541,18.559528;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
45.6

In [ ]:
880 - 900 

18.559528,75.150541
18.705057,75.037594

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/75.150541,18.559528;75.037594,18.705057;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
45.6 km

In [ ]:
900- 920 

18.705057,75.037594
18.975975,74.802106

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/75.037594,18.705057;74.802106,18.975975;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
41.2

In [ ]:
920 -940
18.975975,74.802106
19.321701,74.653485

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/74.802106,18.975975;74.653485,19.321701;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
44.5 km

In [ ]:
940-960
19.321701,74.653485
19.761566,74.476448

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/74.653485,19.321701;74.476448,19.761566;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
54.4

In [ ]:
960 - 980
19.761566,74.476448
20.113373,74.453715

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/74.476448,19.761566;74.453715,20.113373;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
40.9km

In [ ]:
980- 1000
20.113373,74.453715
20.443905,74.498202

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/74.453715,20.113373;74.498202,20.443905;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
39.7

In [ ]:
1000-1020

20.443905,74.498202
20.66927,74.676934

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/74.498202,20.443905;74.676934,20.66927;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
34.1 / alternative 34. 9

In [ ]:
1020 - 1040 

20.66927,74.676934
20.755903,74.721274

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/74.676934,20.66927;74.721274,20.755903;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
10.9 km

In [ ]:
1100-1120
20.755903,74.721274
20.833014,74.75401

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/74.721274,20.755903;74.75401,20.833014;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
9.75km

In [ ]:
1120-1140
20.833014,74.75401
21.339281,74.935277

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/74.75401,20.833014;74.935277,21.339281;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
1140 - 1160 
21.339281,74.935277
21.534588,75.048915

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/74.935277,21.339281;75.048915,21.534588;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
26 km

In [ ]:
1160 -1180
21.534588,75.048915
21.819916,75.18105

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/75.048915,21.534588;75.18105,21.819916;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
37.2

In [ ]:
1180-1200
21.819916,75.18105
21.880716,75.22553

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/75.18105,21.819916;75.22553,21.880716;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
8.44 / 8.78

In [ ]:
1200 - 1220

21.880716,75.22553
22.370956,75.52345

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/75.22553,21.880716;75.52345,22.370956;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
67.9

In [ ]:
1220 - 1240

22.370956,75.52345
22.594948,75.673005

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/75.52345,22.370956;75.673005,22.594948;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
34.7

In [ ]:
1240 - 1260 

22.594948,75.673005
22.922403,76.026982

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/75.673005,22.594948;76.026982,22.922403;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
63km

In [ ]:
1260 -1280 
22.922403,76.026982
23.448832,76.323014

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/76.026982,22.922403;76.323014,23.448832;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
74.7

In [ ]:
1280 -1300 
23.448832,76.323014
23.612387,76.539718

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/76.323014,23.448832;76.539718,23.612387;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
29.8

In [ ]:
1340 - 1360 
23.612387,76.539718
23.711823,76.72448

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/76.539718,23.612387;76.72448,23.711823;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
22.3 km

In [ ]:
1360 - 1380 

23.711823,76.72448
24.171955,77.028154

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/76.72448,23.711823;77.028154,24.171955;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
62.3

In [ ]:
1380 - 1400 
24.171955,77.028154
24.674894,77.321798

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/77.028154,24.171955;77.321798,24.674894;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
66.7

In [ ]:
1400 - 1420

24.674894,77.321798
25.148689,77.606368

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/77.321798,24.674894;77.606368,25.148689;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
63.5

In [ ]:
1460 - 1480
25.148849,77.606368
25.487232,77.677837

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/77.606368,25.148849;77.677837,25.487232;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
44.3 / 42.1

In [ ]:
1480 - 1500

25.487232,77.677837
26.043756,77.919155

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/77.677837,25.487232;77.919155,26.043756;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
72.7

In [ ]:
1500 - 1520
26.043756,77.919155
26.325735,78.153978

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/77.919155,26.043756;78.153978,26.325735;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
70.2 fastest/ 50.5 / 61

In [ ]:
1520 - 1540

26.325735,78.153978
26.752151,77.903245

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/78.153978,26.325735;77.903245,26.752151;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
66.5

In [ ]:
1540 - 1560
26.752151,77.903245
27.187731,77.810579

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/77.903245,26.752151;77.810579,27.187731;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
60.5

In [ ]:
1560 - 1580 
27.187731,77.810579
27.676928,77.526989

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/77.810579,27.187731;77.526989,27.676928;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
67.1

In [ ]:
1580 - 1600 
27.676928,77.526989
27.947184,77.347354

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/77.526989,27.676928;77.347354,27.947184;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
36.5

In [ ]:
1640 - 1660

27.947184,77.347354
27.947292,77.348365

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/77.347354,27.947184;77.348365,27.947292;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
2.15 km

In [ ]:
1660 - 1680 
27.947292,77.348365
28.25913,76.938784

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/77.348365,27.947292;76.938784,28.25913;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
62.2

In [ ]:
.1680 - 1700 

28.25913,76.938784
28.238352,76.613133

In [ ]:
url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/76.938784,28.25913;76.613133,28.238352;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

## NL dealer series

In [ ]:
df_nl3708 = pd.read_excel('D:\\Sales Logistic Project\\NLO2Q3708.xltm')

In [ ]:
df_nl3708.head()

In [ ]:
df_nl3708.shape

In [ ]:
df_nl3708[['Latitude', 'Longitude']] = df_nl3708['Lat,Lngt'].str.split(',', 1, expand=True)

In [ ]:
df_nl3708['Latitude'] = df_nl3708['Latitude'].astype(float)

In [ ]:
df_nl3708['Longitude'] = df_nl3708['Longitude'].astype(float)

In [ ]:
df_nl3708 = df_nl3708[df_nl3708['Lat,Lngt'].notna()]

In [ ]:


df_nl3708['dealer_lat_3708'] = 11.905124
df_nl3708['dealer_long_3708'] = 79.808662

In [ ]:
dealer_lat_3708 = 11.905124
dealer_long_3708 = 79.808662


distances_km = []
for row in df_nl3708.itertuples(index=False):
   distances_km.append(
       haversine_distance(dealer_lat_3708, dealer_long_3708, row.Latitude, row.Longitude)
   )

In [ ]:
df_nl3708['Distance'] = distances_km

In [ ]:
df_nl3708.Distance.min()

In [ ]:
df_nl3708['Status'] = np.where(df_nl3708['Distance']!= df_nl3708['Distance'].min(), 'In-transit', 'Unloading-Point')

In [ ]:
df_nl3708[0:1]

In [ ]:
df_nl3708.iloc[np.where(df_nl3708.Distance==df_nl3708.Distance.min())]

In [ ]:
#df_gj['start_dt'] = df_gj['Period'].map(lambda x:"2021"+"-"+str(x)[0:2]+"-"+str(x)[3:5]+" "+str(x)[6:11])
df_nl3708['start_dt'] = df_nl3708['Period'].map(lambda x:"2021"+"-"+str(x)[3:5]+"-"+str(x)[0:2]+" "+str(x)[6:11])
df_nl3708['start_dt'].head(2)

In [ ]:
#df_gj['end_dt'] = df_gj['Period'].map(lambda x:"2021"+"-"+str(x)[13:16]+"-"+str(x)[17:20]+" "+str(x)[20:25])
df_nl3708['end_dt'] = df_nl3708['Period'].map(lambda x:"2021"+"-"+str(x)[17:20]+"-"+str(x)[13:16]+" "+str(x)[20:25])
df_nl3708['end_dt'].head(2)

In [ ]:
df_nl3708['start_dt'] = pd.to_datetime(df_nl3708['start_dt'])

In [ ]:
df_nl3708['end_dt'] = pd.to_datetime(df_nl3708['end_dt'])

In [ ]:
df_nl3708['Time_diff_temp'] = df_nl3708['end_dt'] - df_nl3708['start_dt']

In [ ]:
df_nl3708.Time_diff_temp.sum()

In [ ]:
df_nl3708['Time_diff'] = [x.iloc[-1] - x.iloc[0] for x in df_nl3708['end_dt'].rolling(2) if len(x)>0]

In [ ]:
df_nl3708['Time_diff'].sum()

In [ ]:
df_nl3708_new = df_nl3708[0:450]

In [ ]:
df_nl3708_new.shape

In [ ]:
df_nl3708_new.tail(1)

In [ ]:
df_nl3708_new['Status'].value_counts()

In [ ]:
df_nl3708_new['Time_diff'] = [x.iloc[-1] - x.iloc[0] for x in df_nl3708_new['end_dt'].rolling(2) if len(x)>0]

In [ ]:
df_nl3708_new['Time_diff'].value_counts()

In [ ]:
df_nl3708_new['Time_diff'].sum()

In [ ]:
df_nl3708_new.head(1)

In [ ]:
df_nl3708_new.tail(1)

In [ ]:
dt1 = '2021-08-12 00:05:00'
d1 = pd.to_datetime(dt1)
dt2 = '2021-08-13 13:30:00'
d2 = pd.to_datetime(dt2)

a = d2-d1
a

In [ ]:
Gb3708 = df_nl3708_new.groupby('Lat,Lngt').agg({'Time_diff': np.sum})

In [ ]:
Gb3708.value_counts()

In [ ]:
Gb3708.sum()

In [ ]:
Gb3708.to_excel("3708.xlsx")

In [ ]:
Gb3708['Time_diff'].sum()

In [ ]:
#gb_3708_res = Gb3708.iloc[np.where(Gb3708)==Gb3708['Time_diff']>='1:00:00']

In [ ]:
Gb3708_test = Gb3708[Gb3708['Time_diff'] >= '1:00:00']

In [ ]:
Gb3708_test

In [ ]:
## Using API - 20 Index Intervals

In [ ]:
df_nl3708.shape

In [ ]:
df_nl3708_new.shape

## stoppage time old

In [ ]:
#df_nl3708_stoppage = df_nl3708.groupby(['Latitude', 'Longitude']).agg({'end_dt':['min','max']})

In [ ]:
#df_nl3708_stoppage.to_excel("df_nl3708_stoppage.xlsx")

In [ ]:
#df_nl3708_stoppage = pd.read_excel("D:Sales Logistic Project\\dfnl3708.xltm")

In [ ]:
#df_nl3708_stoppage['min'] = pd.to_datetime(df_nl3708_stoppage['min'])

In [ ]:
#df_nl3708_stoppage['max'] = pd.to_datetime(df_nl3708_stoppage['max'])

In [ ]:
#df_nl3708_stoppage['diff'] = df_nl3708_stoppage['max']-df_nl3708_stoppage['min']

In [ ]:
#df_nl3708_stoppage['diff'].count()

In [ ]:
#df_nl3708_stop = df_nl3708_stoppage[df_nl3708_stoppage['diff'] >= '1:00:00']

In [ ]:
#df_nl3708_stop['diff'].count()

## API TEST

In [ ]:
import requests
import json

In [ ]:

url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/80.030688,13.031811;79.808662,11.905124;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
13.031811,80.030688
11.905124,79.808662

In [ ]:
159625.9/1000

In [ ]:
# MapMyInd - 160/ Gmap - 160

In [ ]:
# Read the dataset

In [ ]:
nl3708_new = df_nl3708_new[0::20]

In [ ]:
nl3708_new.shape

In [ ]:
nl3708_new

In [ ]:
## Nl3753

In [ ]:
df_nl3753 = pd.read_excel('D:\\Sales Logistic Project\\NL02Q3753_new.xltm')

In [ ]:
df_nl3753[['Latitude', 'Longitude']] = df_nl3753['Lat,Lngt'].str.split(',', 1, expand=True)

In [ ]:
df_nl3753 = df_nl3753[df_nl3753['Lat,Lngt'].notna()]

In [ ]:
df_nl3753['Latitude'] = df_nl3753['Latitude'].astype(float)

In [ ]:
df_nl3753['Longitude'] = df_nl3753['Longitude'].astype(float)

In [ ]:
df_nl3753.shape

In [ ]:
df_nl3753['dealer_lat_3753'] = 11.0131189
df_nl3753['dealer_long_3753'] = 76.9801286

In [ ]:
dealer_lat_3753 = 11.0131189
dealer_long_3753 = 76.9801286


distances_km = []
for row in df_nl3753.itertuples(index=False):
   distances_km.append(
       haversine_distance(dealer_lat_3753, dealer_long_3753, row.Latitude, row.Longitude)
   )

In [ ]:
df_nl3753['Distance'] = distances_km

In [ ]:
df_nl3753.Distance.min()

In [ ]:
df_nl3753['Status'] = np.where(df_nl3753['Distance']!= df_nl3753['Distance'].min(), 'In-transit', 'Unloading-Point')

In [ ]:
df_nl3753[0:1]

In [ ]:
df_nl3753.iloc[np.where(df_nl3753.Distance==df_nl3753.Distance.min())]

In [ ]:
#df_gj['start_dt'] = df_gj['Period'].map(lambda x:"2021"+"-"+str(x)[0:2]+"-"+str(x)[3:5]+" "+str(x)[6:11])
df_nl3753['start_dt'] = df_nl3753['Period'].map(lambda x:"2021"+"-"+str(x)[3:5]+"-"+str(x)[0:2]+" "+str(x)[6:11])
df_nl3753['start_dt'].head(2)

In [ ]:
#df_gj['end_dt'] = df_gj['Period'].map(lambda x:"2021"+"-"+str(x)[13:16]+"-"+str(x)[17:20]+" "+str(x)[20:25])
df_nl3753['end_dt'] = df_nl3753['Period'].map(lambda x:"2021"+"-"+str(x)[17:20]+"-"+str(x)[13:16]+" "+str(x)[20:25])
df_nl3753['end_dt'].head(2)

In [ ]:
df_nl3753['start_dt'] = pd.to_datetime(df_nl3753['start_dt'])
df_nl3753['end_dt'] = pd.to_datetime(df_nl3753['end_dt'])

In [ ]:
df_nl3753['Time_diff_temp'] = df_nl3753['end_dt'] - df_nl3753['start_dt']

In [ ]:
df_nl3753['Time_diff_temp'].value_counts()

In [ ]:
df_nl3753['Time_diff'] = [x.iloc[-1] - x.iloc[0] for x in df_nl3753['end_dt'].rolling(2) if len(x)>0]

In [ ]:
df_nl3753['Time_diff'].value_counts()

In [239]:
df_gj_new.head()

,"Lat,Lngt",Period,Latitude,Longitude,start_dt,end_dt,time_diff_test,Time_diff,dealer_lat,dealer_long,Distance,Status
0,"13.004329,79.990362",01/10 10:10 : 01/10 10:15,13.004329,79.990362,2021-10-01 10:10:00,2021-10-01 10:15:00,0 days 00:05:00,0 days 00:00:00,30.384662,76.786064,1960.44,In-transit
1,"13.004329,79.990362",01/10 10:15 : 01/10 10:20,13.004329,79.990362,2021-10-01 10:15:00,2021-10-01 10:20:00,0 days 00:05:00,0 days 00:05:00,30.384662,76.786064,1960.44,In-transit
2,"13.004329,79.990362",01/10 10:20 : 01/10 10:25,13.004329,79.990362,2021-10-01 10:20:00,2021-10-01 10:25:00,0 days 00:05:00,0 days 00:05:00,30.384662,76.786064,1960.44,In-transit
3,"13.004329,79.990362",01/10 10:25 : 01/10 10:30,13.004329,79.990362,2021-10-01 10:25:00,2021-10-01 10:30:00,0 days 00:05:00,0 days 00:05:00,30.384662,76.786064,1960.44,In-transit
4,"13.004329,79.990362",01/10 10:30 : 01/10 10:35,13.004329,79.990362,2021-10-01 10:30:00,2021-10-01 10:35:00,0 days 00:05:00,0 days 00:05:00,30.384662,76.786064,1960.44,In-transit

In [ ]:
## stoppage time

In [ ]:
df_nl3753 = df_nl3753.groupby(['Latitude', 'Longitude']).agg({'end_dt':['min','max']})

In [ ]:
df_nl3753.to_excel("df_nl3753.xlsx")

In [ ]:
df_nl3753_stoppage = pd.read_excel('D:\\Sales Logistic Project\\df_nl3753.xltm')

In [ ]:
df_nl3753_stoppage

In [ ]:
df_nl3753_stoppage['max'] = pd.to_datetime(df_nl3753_stoppage['max'])

In [ ]:
df_nl3753_stoppage['min'] = pd.to_datetime(df_nl3753_stoppage['min'])

In [ ]:
df_nl3753_stoppage['diff'] = df_nl3753_stoppage['max'] - df_nl3753_stoppage['min']

In [ ]:
df_nl3753_stoppage['diff'].count()

In [ ]:
df_nl3753_stoppage_stop = df_nl3753_stoppage[df_nl3753_stoppage['diff'] >= '1:00:00']

In [ ]:
df_nl3753_stoppage_stop



###

In [ ]:
df_nl3753_new = df_nl3753[0:567]

In [ ]:
df_nl3753_new.shape

In [ ]:
import sidetable
df_nl3753_new.stb.freq(['Status'])

In [ ]:
df_nl3753_new.tail(1)

In [ ]:
df_nl3753_new['Status'].value_counts()

In [ ]:
df_nl3753_new['Time_diff'] = [x.iloc[-1] - x.iloc[0] for x in df_nl3753_new['end_dt'].rolling(2) if len(x)>0]

In [ ]:
df_nl3753_new['Time_diff'].value_counts()

In [ ]:
df_nl3753_new['Time_diff'].sum()

In [ ]:
dt1 = '2021-09-16 00:05:00'
d1 = pd.to_datetime(dt1)
dt2 = '2021-09-17 23:15:00'
d2 = pd.to_datetime(dt2)

a = d2-d1
a

In [ ]:
df_nl3753_new.head(1)

In [ ]:
df_nl3753_new.tail(1)

In [ ]:
df_nl3753_new['Time_diff'] = df_nl3753_new['Time_diff'].astype(str)

In [ ]:
df_nl3753_new['Time_diff'] = pd.to_timedelta(df_nl3753_new['Time_diff'])

In [ ]:
df_nl3753_new['Time_diff'].sum()

In [ ]:
t = df_nl3753_new.groupby('Lat,Lngt').agg({'Time_diff': np.sum})

In [ ]:
t.count()

In [ ]:
t['Time_diff'].value_counts()

In [ ]:
t['Time_diff'].sum()

In [ ]:
test = t[t['Time_diff'] >= '1:00:00']

In [ ]:
test

In [ ]:
## API

In [ ]:

url_three = f"""https://apis.mapmyindia.com/advancedmaps/v1/95846a48eeef5b6c17863d2367c75349/distance_matrix/trucking/80.029651,13.027363;76.980129,11.013119;17ZUL7?rtype=1&region=ind"""
r3 = requests.get(url_three)
result3= json.loads(r3.content)
result3

In [ ]:
499291.1/1000

In [ ]:
# google maps - 496/ 489
# map my ind - 500/502

In [ ]:
13.027363,80.029651
11.013119,76.980129

## Reading datasets from Filepath - - #> Directory / Subdirectory

In [2]:
import os
os.chdir("D:\\Sales Logistic Project\\")

In [ ]:
li = []
for path, subdirs, files in os.walk("D:\\Sales Logistic Project\\Decrypted"):
    for filename in files:
        df=pd.read_excel(filename,index_col=None,header = 0)
        li.append(df)
        print(os.path.join(path, name))

In [ ]:
#import tabulate
#from tabulate import tabulate

In [287]:
li = []
for path, subdirs, files in os.walk("D:\\Sales Logistic Project\\Decrypted\\"):
    for filename in files:
        df=pd.read_excel(os.path.join(path, filename),index_col=None,)
        #li.append(df)
    #with open('map.xls', 'a') as f:
        #display(path,filename,df.shape,df.head(1))
        #print(df.head(1))
        df.shape
        #print(os.path.join(path, filename)

In [ ]:
#!pip install tabulate

In [240]:
li = []
for path, subdirs, files in os.walk("D:\\Sales Logistic Project\\Decrypted\\29.10.2021\\Mohan"):
    for filename in files:
        df_complete_dataset=pd.read_excel(os.path.join(path, filename),index_col=None,)
        #li.append(df)
    #with open('map.xls', 'a') as f:
        #print(filename,"\t\t",len(df_complete_dataset.index)," \t ",len(df.columns)," \t ", df_complete_dataset.head(1))
        #print(filename,d)
        df_complete_dataset['Trip_Id'] = filename
        

        #print(filename,"\t",df_complete_dataset[0:1])
        
        #print(df.head(1))
        #print(os.path.join(path, filename)

HR46D5742_08.09.2021.xlsx
HR46E0510_02.09.2021.xlsx
HR46E0567_24.09.2021.xlsx
HR46E1707_24.09.2021.xlsx
HR46E2260_01.09.2021.xlsx
HR46E2450_04.09.2021.xlsx
HR46E2665_24.09.2021.xlsx
HR46E2686_25.09.2021.xlsx
HR46E4249_04.09.2021.xlsx
HR46E4411_30.09.2021.xlsx
HR46E4729_15.09.2021.xlsx
HR46E4835_30.09.2021.xlsx
HR46E5341_15.09.2021.xlsx
HR46E5899_01.09.2021.xlsx
HR46E6533_30.09.2021.xlsx
HR46E6651_01.09.2021.xlsx
HR46E7175_14.09.2021.xlsx
HR46E7175_30.09.2021.xlsx
HR46E7190_03.09.2021.xlsx
HR46E7650_15.09.2021.xlsx
HR46E7834_29.09.2021.xlsx
HR46E9316_03.09.2021.xlsx
NL01AB2043_04.09.2021.xlsx
NL01AB2850_23.09.2021.xlsx
NL01AB2852_28.09.2021.xlsx

In [ ]:
df_complete_dataset

In [ ]:

for path, subdirs, files in os.walk("D:\\Sales Logistic Project\\Decrypted\\"):
    for filename in files:
        df_tempa=pd.read_excel(os.path.join(path, filename),index_col=None,)
        
        mdf.append(df_tempa)
    #with open('map.xls', 'a') as f:
        
        #print(filename,"\t\t",len(df_complete_dataset.index)," \t ",len(df.columns)," \t ", df_complete_dataset.head(1))
        #print(filename, df_complete_dataset.head(1))
        #print(filename,"\t",df_complete_dataset[0:1])
        
        #print(df.head(1))
        #print(os.path.join(path, filename)

In [ ]:
import ssl
import certifi
import geopy.geocoders
ctx = ssl.create_default_context(cafile=certifi.where())
geopy.geocoders.options.default_ssl_context = ctx

In [ ]:
import time

In [ ]:
def get_address_by_location(latitude, longitude, language="en"):
    """This function returns an address as raw from a location
    will repeat until success"""
    # build coordinates string to pass to reverse() function
    coordinates = f"{latitude}, {longitude}"
    # sleep for a second to respect Usage Policy
    time.sleep(1)
    try:
        return app.reverse(coordinates, language=language).raw
    except:
        return get_address_by_location(latitude, longitude)

In [ ]:
# define your coordinates
latitude = 25.594095
longitude = 85.137566
# get the address info
address = get_address_by_location(latitude, longitude)
# print all returned data
pprint(address)

In [ ]:

import module
fromÂ geopy.geocodersÂ importÂ Nominatim
# Latitude & Longitude input
LatitudeÂ =Â "25.594095"
LongitudeÂ =Â "85.137566"
Â Â 
locationÂ =Â geolocator.reverse(Latitude+","+Longitude)
Â Â 
# Display
print(location)

addressÂ =Â location.raw['address']
print(address)
cityÂ =Â address.get('city', '')Â 
print('City : ',city)Â

In [ ]:
LAT , LONG , TIME, SPEED

<UNCHANGED> , <>, <>

In [ ]:
df['end_dt'] = np.where(df['Period_id']==2,df_tempa['Period'].map(lambda x:"2021"+"-"+str(x)[17:20]+"-"+str(x)[13:16]+" "+str(x)[20:25]), 'nan' )

In [ ]:
test = datapreproc(df_ori,2,'period')

In [ ]:
def datapreproc(df,col_len,col_type,fldname,fld):
    df = df[(df['col_len']==col_len)&(df['col_type']==col_type)]
    df_tempa['end_dt'] = df_tempa['Period'].map(lambda x:"2021"+"-"+str(x)[17:20]+"-"+str(x)[13:16]+" "+str(x)[20:25])

In [289]:
t_df= []
for path, subdirs, files in os.walk("D:\\Sales Logistic Project\\Decrypted\\"):
    for filename in files:
        df_tempa=pd.read_excel(os.path.join(path, filename),index_col=None)
        df_tempa.iloc[np.where(df_tempa.shape[1]==2)]
        #if len(df_tempa.columns) == 2:
        if 'Period' in df_tempa.columns:
            df_tempa['end_dt'] = df_tempa['Period'].map(lambda x:"2021"+"-"+str(x)[17:20]+"-"+str(x)[13:16]+" "+str(x)[20:25])
            df_tempa['end_dt'] = pd.to_datetime(df_tempa['end_dt'])
            df_tempa['Path'] = path
            df_tempa['Trip_id'] = filename
                #df_tempa['Trip_Id'] = filename                                  
            t_df.append(df_tempa)
            dfframe = pd.concat(t_df, axis=0, ignore_index=True)
                
             
    
        
            
            
        #display(filename,df_tempa.head(1))
        #display(df_tempa.shape)
                          
            
        

        #elif df_tempa.columns=df_tempa[['Lat,Lngt','Date']]:
            #df_tempa['end_dt'] = df_tempa['Date'].map(lambda x:"2021"+"-"+str(x)[17:20]+"-"+str(x)[13:16]+" "+str(x)[20:25])
            #df_tempa['end_dt'] = pd.to_datetime(df_tempa['end_dt'])
            #display(filename,df_tempa.head(1))
            #display(df_tempa.shape)
        #else:
            #print(df_tempa.head(1))
            
        
        
        #mdf.append(df_tempa)
        
        #print(filename,"\t\t",len(df_complete_dataset.index)," \t ",len(df.columns)," \t ", df_complete_dataset.head(1))
        #print(filename, df_complete_dataset.head(1))
        #print(filename,"\t",df_complete_dataset[0:1])
        
        #print(df.head(1))
        #print(os.path.join(path, filename)

In [285]:
filename

'NL01AC2469_17.09.2021.xlsx'

In [294]:
frame

,"Lat,Lngt",Period,end_dt,Path,Trip_id,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,"13.003621,79.990784",16/10 10:10 : 16/10 10:15,2021-10-16 10:15:00,D:\Sales Logistic Project\Decrypted\25.10.2021...,GJ12BV2880_16.10.2021.xls,NaN,NaN,NaN,NaN
1,"13.003621,79.990784",16/10 10:15 : 16/10 10:20,2021-10-16 10:20:00,D:\Sales Logistic Project\Decrypted\25.10.2021...,GJ12BV2880_16.10.2021.xls,NaN,NaN,NaN,NaN
2,"13.003621,79.990784",16/10 10:20 : 16/10 10:25,2021-10-16 10:25:00,D:\Sales Logistic Project\Decrypted\25.10.2021...,GJ12BV2880_16.10.2021.xls,NaN,NaN,NaN,NaN
3,"13.003621,79.990784",16/10 10:25 : 16/10 10:30,2021-10-16 10:30:00,D:\Sales Logistic Project\Decrypted\25.10.2021...,GJ12BV2880_16.10.2021.xls,NaN,NaN,NaN,NaN
4,"13.003621,79.990784",16/10 10:30 : 16/10 10:35,2021-10-16 10:35:00,D:\Sales Logistic Project\Decrypted\25.10.2021...,GJ12BV2880_16.10.2021.xls,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
858653,"22.58866,88.221085",07/09 23:35 : 07/09 23:40,2021-09-07 23:40:00,D:\Sales Logistic Project\Decrypted\28.10.2021...,NL01Q9795_02.09.2021.xlsx,NaN,NaN,NaN,NaN
858654,"22.588661,88.221088",07/09 23:40 : 07/09 23:45,2021-09-07 23:45:00,D:\Sales Logistic Project\Decrypted\28.10.2021...,NL01Q9795_02.09.2021.xlsx,NaN,NaN,NaN,NaN
858655,"22.588661,88.221088",07/09 23:50 : 07/09 23:55,2021-09-07 23:55:00,D:\Sales Logistic Project\Decrypted\28.10.2021...,NL01Q9795_02.09.2021.xlsx,NaN,NaN,NaN,NaN
858656,"22.58866,88.221085",07/09 23:55 : 07/09 23:57,2021-09-07 23:57:00,D:\Sales Logistic Project\Decrypted\28.10.2021...,NL01Q9795_02.09.2021.xlsx,NaN,NaN,NaN,NaN
858657,NaN,02/09 00:10 : 07/09 23:57,2021-09-07 23:57:00,D:\Sales Logistic Project\Decrypted\28.10.2021...,NL01Q9795_02.09.2021.xlsx,NaN,NaN,NaN,NaN

In [290]:
frame.shape

(858658, 9)

In [291]:
frame.Trip_id.value_counts()

NL01N6139_18.09.2021.xls     2881
NL01N5071_27.08.2021.xls     2881
NL01L7328_01.08.2021.xls     2880
NL01L8612_25.08.2021.xls     2880
PB65AD8149_14.09.2021.xls    2879
                             ...
NL01Q4982_22.09.2021.xls       33
GJ14X5039_24.09.2021.xls       31
NL01Q4965_23.09.2021.xls       28
NL01Q3258_23.09.2021.xls       25
NL01Q7267_24.09.2021.xls       17
Name: Trip_id, Length: 699, dtype: int64

In [260]:
t_df

[                 Lat,Lngt                     Period              end_dt  \
 0     13.003621,79.990784  16/10 10:10 : 16/10 10:15 2021-10-16 10:15:00
 1     13.003621,79.990784  16/10 10:15 : 16/10 10:20 2021-10-16 10:20:00
 2     13.003621,79.990784  16/10 10:20 : 16/10 10:25 2021-10-16 10:25:00
 3     13.003621,79.990784  16/10 10:25 : 16/10 10:30 2021-10-16 10:30:00
 4     13.003621,79.990784  16/10 10:30 : 16/10 10:35 2021-10-16 10:35:00
 ...                   ...                        ...                 ...
 1445  28.039583,73.430438  21/10 11:40 : 21/10 11:45 2021-10-21 11:45:00
 1446  28.039583,73.430438  21/10 11:45 : 21/10 11:50 2021-10-21 11:50:00
 1447  28.039583,73.430438  21/10 11:50 : 21/10 11:55 2021-10-21 11:55:00
 1448  28.039583,73.430438  21/10 11:55 : 21/10 11:57 2021-10-21 11:57:00
 1449                  NaN  16/10 10:10 : 21/10 11:57 2021-10-21 11:57:00

                         Trip_id
 0     GJ12BV2880_16.10.2021.xls
 1     GJ12BV2880_16.10.2021.xls
 2     GJ12BV2880_16.10.2021.xls
 3     GJ12BV2880_16.10.2021.xls
 4     GJ12BV2880_16.10.2021.xls
 ...                         ...
 1445  GJ12BV2880_16.10.2021.xls
 1446  GJ12BV2880_16.10.2021.xls
 1447  GJ12BV2880_16.10.2021.xls
 1448  GJ12BV2880_16.10.2021.xls
 1449  GJ12BV2880_16.10.2021.xls

 [1450 rows x 4 columns],
                  Lat,Lngt                     Period              end_dt  \
 0     13.004339,79.990413  01/09 10:10 : 01/09 10:15 2021-09-01 10:15:00
 1     13.004339,79.990413  01/09 10:15 : 01/09 10:20 2021-09-01 10:20:00
 2     13.004339,79.990413  01/09 10:20 : 01/09 10:25 2021-09-01 10:25:00
 3     13.004339,79.990413  01/09 10:25 : 01/09 10:30 2021-09-01 10:30:00
 4     13.004339,79.990413  01/09 10:30 : 01/09 10:35 2021-09-01 10:35:00
 ...                   ...                        ...                 ...
 1886  26.056559,74.038118  07/09 23:40 : 07/09 23:45 2021-09-07 23:45:00
 1887  26.056559,74.038118  07/09 23:45 : 07/09 23:50 2021-09-07 23:50:00
 1888  26.056559,74.038118  07/09 23:50 : 07/09 23:55 2021-09-07 23:55:00
 1889  26.056559,74.038118  07/09 23:55 : 07/09 23:58 2021-09-07 23:58:00
 1890                  NaN  01/09 10:10 : 07/09 23:58 2021-09-07 23:58:00

                         Trip_id
 0     GJ12BV6093_02.09.2021.xls
 1     GJ12BV6093_02.09.2021.xls
 2     GJ12BV6093_02.09.2021.xls
 3     GJ12BV6093_02.09.2021.xls
 4     GJ12BV6093_02.09.2021.xls
 ...                         ...
 1886  GJ12BV6093_02.09.2021.xls
 1887  GJ12BV6093_02.09.2021.xls
 1888  GJ12BV6093_02.09.2021.xls
 1889  GJ12BV6093_02.09.2021.xls
 1890  GJ12BV6093_02.09.2021.xls

 [1891 rows x 4 columns],
                  Lat,Lngt                     Period              end_dt  \
 0     13.004329,79.990362  01/10 10:10 : 01/10 10:15 2021-10-01 10:15:00
 1     13.004329,79.990362  01/10 10:15 : 01/10 10:20 2021-10-01 10:20:00
 2     13.004329,79.990362  01/10 10:20 : 01/10 10:25 2021-10-01 10:25:00
 3     13.004329,79.990362  01/10 10:25 : 01/10 10:30 2021-10-01 10:30:00
 4     13.004329,79.990362  01/10 10:30 : 01/10 10:35 2021-10-01 10:35:00
 ...                   ...                        ...                 ...
 2014  30.381981,76.790381  08/10 10:40 : 08/10 10:45 2021-10-08 10:45:00
 2015  30.381981,76.790381  08/10 10:45 : 08/10 10:50 2021-10-08 10:50:00
 2016  30.381981,76.790381  08/10 10:50 : 08/10 10:55 2021-10-08 10:55:00
 2017  30.381981,76.790381  08/10 10:55 : 08/10 10:56 2021-10-08 10:56:00
 2018                  NaN  01/10 10:10 : 08/10 10:56 2021-10-08 10:56:00

                         Trip_id
 0     GJ12BV6093_02.10.2021.xls
 1     GJ12BV6093_02.10.2021.xls
 2     GJ12BV6093_02.10.2021.xls
 3     GJ12BV6093_02.10.2021.xls
 4     GJ12BV6093_02.10.2021.xls
 ...                         ...
 2014  GJ12BV6093_02.10.2021.xls
 2015  GJ12BV6093_02.10.2021.xls
 2016  GJ12BV6093_02.10.2021.xls
 2017  GJ12BV6093_02.10.2021.xls
 2018  GJ12BV6093_02.10.2021.xls

 [2019 rows x 4 columns],
                  Lat,Lngt                     Period              end_dt  \
 0      13.004265,79.99063  04/10 10:10 : 04/10 10:15 2021-10-04 10:15:00
 1      13.004265,79.99063  04/10 10:15 : 04/10 10:20 2021-10-04 10:20:00
 2      13.004265,79.99063  04/10 10:20 : 04/10 10:25 2021-10-04 10:25:00
 3      13.004265,79.99063  04/10 10:25 : 04/10 10:30 2021-10-04 10:30:00
 4      13.004265,79.99063  04/10 10:30 : 04/10 10:35 2021-10-04 10:35:00
 ...                   ...                        ...                 ...
 1157  24.852411,74.624435  08/10 10:40 : 08/10 10:45 2021-10-08 10:45:00
 1158  24.852411,74.624435  08/10 10:45 : 08/10 10:50 2021-10-08 10:50:00
 1159  24.830799,74.627424  08/10 10:50 : 08/10 10:55 2021-10-08 10:55:00
 1160  24.831594,74.623142  08/10 10:55 : 08/10 10:57 2021-10-08 10:57:00
 1161                  NaN  04/10 10:10 : 08/10 10:57 2021-10-08 10:57:00

                         Trip_id
 0     GJ12BV7704_04.10.2021.xls
 1     GJ12BV7704_04.10.2021.xls
 2     GJ12BV7704_04.10.2021.xls
 3     GJ12BV7704_04.10.2021.xls
 4     GJ12BV7704_04.10.2021.xls
 ...                         ...
 1157  GJ12BV7704_04.10.2021.xls
 1158  GJ12BV7704_04.10.2021.xls
 1159  GJ12BV7704_04.10.2021.xls
 1160  GJ12BV7704_04.10.2021.xls
 1161  GJ12BV7704_04.10.2021.xls

 [1162 rows x 4 columns],
                  Lat,Lngt                     Period              end_dt  \
 0     12.995574,79.988806  01/10 10:10 : 01/10 10:15 2021-10-01 10:15:00
 1     12.995574,79.988806  01/10 10:15 : 01/10 10:20 2021-10-01 10:20:00
 2     12.995574,79.988806  01/10 10:20 : 01/10 10:25 2021-10-01 10:25:00
 3     13.003045,79.991853  01/10 10:25 : 01/10 10:30 2021-10-01 10:30:00
 4     13.004158,79.990349  01/10 10:30 : 01/10 10:35 2021-10-01 10:35:00
 ...                   ...                        ...                 ...
 1158  15.548865,73.818125  05/10 10:40 : 05/10 10:45 2021-10-05 10:45:00
 1159  15.548865,73.818125  05/10 10:45 : 05/10 10:50 2021-10-05 10:50:00
 1160  15.548865,73.818125  05/10 10:50 : 05/10 10:55 2021-10-05 10:55:00
 1161  15.548865,73.818125  05/10 10:55 : 05/10 10:58 2021-10-05 10:58:00
 1162                  NaN  01/10 10:10 : 05/10 10:58 2021-10-05 10:58:00

                         Trip_id
 0     GJ12BV9360_01.10.2021.xls
 1     GJ12BV9360_01.10.2021.xls
 2     GJ12BV9360_01.10.2021.xls
 3     GJ12BV9360_01.10.2021.xls
 4     GJ12BV9360_01.10.2021.xls
 ...                         ...
 1158  GJ12BV9360_01.10.2021.xls
 1159  GJ12BV9360_01.10.2021.xls
 1160  GJ12BV9360_01.10.2021.xls
 1161  GJ12BV9360_01.10.2021.xls
 1162  GJ12BV9360_01.10.2021.xls

 [1163 rows x 4 columns],
                  Lat,Lngt                     Period              end_dt  \
 0     13.004372,79.990118  16/10 10:10 : 16/10 10:15 2021-10-16 10:15:00
 1     13.004372,79.990118  16/10 10:15 : 16/10 10:20 2021-10-16 10:20:00
 2     13.004372,79.990118  16/10 10:20 : 16/10 10:25 2021-10-16 10:25:00
 3     13.004372,79.990118  16/10 10:25 : 16/10 10:30 2021-10-16 10:30:00
 4     13.004372,79.990118  16/10 10:30 : 16/10 10:35 2021-10-16 10:35:00
 ...                   ...                        ...                 ...
 2033    27.23255,77.48825  23/10 11:40 : 23/10 11:45 2021-10-23 11:45:00
 2034  27.230276,77.475379  23/10 11:45 : 23/10 11:50 2021-10-23 11:50:00
 2035  27.233376,77.469318  23/10 11:50 : 23/10 11:55 2021-10-23 11:55:00
 2036   27.24271,77.468429  23/10 11:55 : 23/10 11:58 2021-10-23 11:58:00
 2037                  NaN  16/10 10:10 : 23/10 11:58 2021-10-23 11:58:00

                         Trip_id
 0     GJ12BV9630_17.10.2021.xls
 1     GJ12BV9630_17.10.2021.xls
 2     GJ12BV9630_17.10.2021.xls
 3     GJ12BV9630_17.10.2021.xls
 4     GJ12BV9630_17.10.2021.xls
 ...                         ...
 2033  GJ12BV9630_17.10.2021.xls
 2034  GJ12BV9630_17.10.2021.xls
 2035  GJ12BV9630_17.10.2021.xls
 2036  GJ12BV9630_17.10.2021.xls
 2037  GJ12BV9630_17.10.2021.xls

 [2038 rows x 4 columns],
                  Lat,Lngt                     Period              end_dt  \
 0     13.004053,79.990694  24/09 10:10 : 24/09 10:15 2021-09-24 10:15:00
 1     13.004053,79.990694  24/09 10:15 : 24/09 10:20 2021-09-24 10:20:00
 2     13.004053,79.990694  24/09 10:20 : 24/09 10:25 2021-09-24 10:25:00
 3     13.004053,79.990694  24/09 10:25 : 24/09 10:30 2021-09-24 10:30:00
 4     13.004053,79.990694  24/09 10:30 : 24/09 10:35 2021-09-24 10:35:00
 ...                   ...                        ...                 ...
 1026  11.575942,75.604006  27/09 23:40 : 27/09 23:45 2021-09-27 23:45:00
 1027  11.575942,75.604006  27/09 23:45 : 27/09 23:50 2021-09-27 23:50:00
 1028  11.575942,75.604006  27/09 23:50 : 27/09 23:55 2021-09-27 23:55:00
 1029  11.575942,75.604006  27/09 23:55 : 27/09 23:55 2021-09-27 23:55:00
 1030                  NaN  24/09 10:10 : 27/09 23:55 2021-09-27 23:55:00

                         Trip_id
 0     GJ12BV9630_24.09.2021.xls
 1     GJ12BV9630_24.09.2021.xls
 2     GJ12BV9630_24.09.2021.xls
 3     GJ12BV9630_24.09.2021.xls
 4     GJ12BV9630_24.09.2021.xls
 ...                         ...
 1026  GJ12BV9630_24.09.2021.xls
 1027  GJ12BV9630_24.09.2021.xls
 1028  GJ12BV9630_24.09.2021.xls
 1029  GJ12BV9630_24.09.2021.xls
 1030  GJ12BV9630_24.09.2021.xls

 [1031 rows x 4 columns],
                  Lat,Lngt                     Period              end_dt  \
 0      13.014812,80.00375  08/09 14:55 : 08/09 15:00 2021-09-08 15:00:00
 1     13.004267,79.994125  08/09 15:00 : 08/09 15:05 2021-09-08 15:05:00
 2     12.985481,79.976538  08/09 15:05 : 08/09 15:10 2021-09-08 15:10:00
 3      12.970389,79.95495  08/09 15:10 : 08/09 15:15 2021-09-08 15:15:00
 4     12.962667,79.945798  08/09 15:15 : 08/09 15:20 2021-09-08 15:20:00
 ...                   ...                        ...                 ...
 1437  26.951725,75.752742  13/09 14:40 : 13/09 14:45 2021-09-13 14:45:00
 1438  26.951725,75.752742  13/09 14:45 : 13/09 14:50 2021-09-13 14:50:00
 1439  26.951696,75.752755  13/09 14:50 : 13/09 14:55 2021-09-13 14:55:00
 1440  26.951729,75.752691  13/09 14:55 : 13/09 14:58 2021-09-13 14:58:00
 1441                  NaN  08/09 14:55 : 13/09 14:58 2021-09-13 14:58:00

                        Trip_id
 0     HR38Y0900_08.09.2021.xls
 1     HR38Y0900_08.09.2021.xls
 2     HR38Y0900_08.09.2021.xls
 3     HR38Y0900_08.09.2021.xls
 4     HR38Y0900_08.09.2021.xls
 ...                        ...
 1437  HR38Y0900_08.09.2021.xls
 1438  HR38Y0900_08.09.2021.xls
 1439  HR38Y0900_08.09.2021.xls
 1440  HR38Y0900_08.09.2021.xls
 1441  HR38Y0900_08.09.2021.xls

 [1442 rows x 4 columns],
                  Lat,Lngt                     Period              end_dt  \
 0     13.004081,79.990317  13/10 12:25 : 13/10 12:30 2021-10-13 12:30:00
 1     13.004081,79.990317  13/10 12:30 : 13/10 12:35 2021-10-13 12:35:00
 2     13.004081,79.990317  13/10 12:35 : 13/10 12:40 2021-10-13 12:40:00
 3     13.004081,79.990317  13/10 12:40 : 13/10 12:45 2021-10-13 12:45:00
 4     13.004081,79.990317  13/10 12:45 : 13/10 12:50 2021-10-13 12:50:00
 ...                   ...                        ...                 ...
 1859  27.249693,75.950624  19/10 23:40 : 19/10 23:45 2021-10-19 23:45:00
 1860  27.249693,75.950624  19/10 23:45 : 19/10 23:50 2021-10-19 23:50:00
 1861  27.249693,75.950624  19/10 23:50 : 19/10 23:55 2021-10-19 23:55:00
 1862  27.249693,75.950624  19/10 23:55 : 19/10 23:57 2021-10-19 23:57:00
 1863                  NaN  13/10 12:25 : 19/10 23:57 2021-10-19 23:57:00

                        Trip_id
 0     HR38Y0900_13.10.2021.xls
 1     HR38Y0900_13.10.2021.xls
 2     HR38Y0900_13.10.2021.xls
 3     HR38Y0900_13.10.2021.xls
 4     HR38Y0900_13.10.2021.xls
 ...                        ...
 1859  HR38Y0900_13.10.2021.xls
 1860  HR38Y0900_13.10.2021.xls
 1861  HR38Y0900_13.10.2021.xls
 1862  HR38Y0900_13.10.2021.xls
 1863  HR38Y0900_13.10.2021.xls

 [1864 rows x 4 columns],
                  Lat,Lngt                     Period              end_dt  \
 0     13.004426,79.990176  08/09 10:10 : 08/09 10:15 2021-09-08 10:15:00
 1     13.004423,79.990176  08/09 10:15 : 08/09 10:20 2021-09-08 10:20:00
 2     13.004417,79.990163  08/09 10:20 : 08/09 10:25 2021-09-08 10:25:00
 3     13.004436,79.990176  08/09 10:25 : 08/09 10:30 2021-09-08 10:30:00
 4      13.004426,79.99017  08/09 10:30 : 08/09 10:35 2021-09-08 10:35:00
 ...                   ...                        ...                 ...
 1314  24.614231,74.225293  12/09 23:40 : 12/09 23:45 2021-09-12 23:45:00
 1315  24.614231,74.225293  12/09 23:45 : 12/09 23:50 2021-09-12 23:50:00
 1316  24.614231,74.225293  12/09 23:50 : 12/09 23:55 2021-09-12 23:55:00
 1317  24.614231,74.225293  12/09 23:55 : 12/09 23:57 2021-09-12 23:57:00
 1318                  NaN  08/09 10:10 : 12/09 23:57 2021-09-12 23:57:00

                        Trip_id
 0     HR38Y3699_08.09.2021.xls
 1     HR38Y3699_08.09.2021.xls
 2     HR38Y3699_08.09.2021.xls
 3     HR38Y3699_08.09.2021.xls
 4     HR38Y3699_08.09.2021.xls
 ...                        ...
 1314  HR38Y3699_08.09.2021.xls
 1315  HR38Y3699_08.09.2021.xls
 1316  HR38Y3699_08.09.2021.xls
 1317  HR38Y3699_08.09.2021.xls
 1318  HR38Y3699_08.09.2021.xls

 [1319 rows x 4 columns],
                  Lat,Lngt                     Period              end_dt  \
 0     13.004327,79.990803  28/09 10:10 : 28/09 10:15 2021-09-28 10:15:00
 1     13.004327,79.990803  28/09 10:15 : 28/09 10:20 2021-09-28 10:20:00
 2     13.004327,79.990803  28/09 10:20 : 28/09 10:25 2021-09-28 10:25:00
 3     13.004327,79.990803  28/09 10:25 : 28/09 10:30 2021-09-28 10:30:00
 4     13.004327,79.990803  28/09 10:30 : 28/09 10:35 2021-09-28 10:35:00
 ...                   ...                        ...                 ...
 2322  28.097994,75.385434  06/10 11:40 : 06/10 11:45 2021-10-06 11:45:00
 2323  28.097994,75.385434  06/10 11:45 : 06/10 11:50 2021-10-06 11:50:00
 2324  28.097994,75.385434  06/10 11:50 : 06/10 11:55 2021-10-06 11:55:00
 2325  28.097994,75.385434  06/10 11:55 : 06/10 11:58 2021-10-06 11:58:00
 2326                  NaN  28/09 10:10 : 06/10 11:58 2021-10-06 11:58:00

                        Trip_id
 0     HR38Y3699_29.09.2021.xls
 1     HR38Y3699_29.09.2021.xls
 2     HR38Y3699_29.09.2021.xls
 3     HR38Y3699_29.09.2021.xls
 4     HR38Y3699_29.09.2021.xls
 ...                        ...
 2322  HR38Y3699_29.09.2021.xls
 2323  HR38Y3699_29.09.2021.xls
 2324  HR38Y3699_29.09.2021.xls
 2325  HR38Y3699_29.09.2021.xls
 2326  HR38Y3699_29.09.2021.xls

 [2327 rows x 4 columns],
                  Lat,Lngt                     Period              end_dt  \
 0     13.004368,79.990669  04/10 10:10 : 04/10 10:15 2021-10-04 10:15:00
 1     13.004368,79.990669  04/10 10:15 : 04/10 10:20 2021-10-04 10:20:00
 2     13.004368,79.990669  04/10 10:20 : 04/10 10:25 2021-10-04 10:25:00
 3     13.004368,79.990669  04/10 10:25 : 04/10 10:30 2021-10-04 10:30:00
 4     13.004368,79.990669  04/10 10:30 : 04/10 10:35 2021-10-04 10:35:00
 ...                   ...                        ...                 ...
 1158  23.258106,72.648922  08/10 10:40 : 08/10 10:45 2021-10-08 10:45:00
 1159  23.258106,72.648922  08/10 10:45 : 08/10 10:50 2021-10-08 10:50:00
 1160  23.258106,72.648922  08/10 10:50 : 08/10 10:55 2021-10-08 10:55:00
 1161  23.258106,72.648922  08/10 10:55 : 08/10 10:58 2021-10-08 10:58:00
 1162                  NaN  04/10 10:10 : 08/10 10:58 2021-10-08 10:58:00

                        Trip_id
 0     HR38Y9090_04.10.2021.xls
 1     HR38Y9090_04.10.2021.xls
 2     HR38Y9090_04.10.2021.xls
 3     HR38Y9090_04.10.2021.xls
 4     HR38Y9090_04.10.2021.xls
 ...                        ...
 1158  HR38Y9090_04.10.2021.xls
 1159  HR38Y9090_04.10.2021.xls
 1160  HR38Y9090_04.10.2021.xls
 1161  HR38Y9090_04.10.2021.xls
 1162  HR38Y9090_04.10.2021.xls

 [1163 rows x 4 columns],
                  Lat,Lngt                     Period              end_dt  \
 0     13.004323,79.990816  14/09 10:10 : 14/09 10:15 2021-09-14 10:15:00
 1     13.004323,79.990816  14/09 10:15 : 14/09 10:20 2021-09-14 10:20:00
 2     13.004323,79.990816  14/09 10:20 : 14/09 10:25 2021-09-14 10:25:00
 3     13.004323,79.990816  14/09 10:25 : 14/09 10:30 2021-09-14 10:30:00
 4     13.004323,79.990816  14/09 10:30 : 14/09 10:35 2021-09-14 10:35:00
 ...                   ...                        ...                 ...
 2163  24.981985,72.901504  21/09 23:40 : 21/09 23:45 2021-09-21 23:45:00
 2164  24.981985,72.901504  21/09 23:45 : 21/09 23:50 2021-09-21 23:50:00
 2165  24.981985,72.901504  21/09 23:50 : 21/09 23:55 2021-09-21 23:55:00
 2166  24.981985,72.901504  21/09 23:55 : 21/09 23:57 2021-09-21 23:57:00
 2167                  NaN  14/09 10:10 : 21/09 23:57 2021-09-21 23:57:00

                        Trip_id
 0     HR38Y9900_15.09.2021.xls
 1     HR38Y9900_15.09.2021.xls
 2     HR38Y9900_15.09.2021.xls
 3     HR38Y9900_15.09.2021.xls
 4     HR38Y9900_15.09.2021.xls
 ...                        ...
 2163  HR38Y9900_15.09.2021.xls
 2164  HR38Y9900_15.09.2021.xls
 2165  HR38Y9900_15.09.2021.xls
 2166  HR38Y9900_15.09.2021.xls
 2167  HR38Y9900_15.09.2021.xls

 [2168 rows x 4 columns],
                  Lat,Lngt                     Period              end_dt  \
 0     13.004341,79.990803  03/09 10:10 : 03/09 10:15 2021-09-03 10:15:00
 1     13.004341,79.990803  03/09 10:15 : 03/09 10:20 2021-09-03 10:20:00
 2     13.004341,79.990803  03/09 10:20 : 03/09 10:25 2021-09-03 10:25:00
 3     13.004341,79.990803  03/09 10:25 : 03/09 10:30 2021-09-03 10:30:00
 4     13.004341,79.990803  03/09 10:30 : 03/09 10:35 2021-09-03 10:35:00
 ...                   ...                        ...                 ...
 2066  26.906979,76.379194  10/09 14:40 : 10/09 14:45 2021-09-10 14:45:00
 2067  26.912083,76.416333  10/09 14:45 : 10/09 14:50 2021-09-10 14:50:00
 2068   26.91431,76.453114  10/09 14:50 : 10/09 14:55 2021-09-10 14:55:00
 2069  26.919924,76.482618  10/09 14:55 : 10/09 14:58 2021-09-10 14:58:00
 2070                  NaN  03/09 10:10 : 10/09 14:58 2021-09-10 14:58:00

                        Trip_id
 0     HR38Y9909_03.09.2021.xls
 1     HR38Y9909_03.09.2021.xls
 2     HR38Y9909_03.09.2021.xls
 3     HR38Y9909_03.09.2021.xls
 4     HR38Y9909_03.09.2021.xls
 ...                        ...
 2066  HR38Y9909_03.09.2021.xls
 2067  HR38Y9909_03.09.2021.xls
 2068  HR38Y9909_03.09.2021.xls
 2069  HR38Y9909_03.09.2021.xls
 2070  HR38Y9909_03.09.2021.xls

 [2071 rows x 4 columns],
                  Lat,Lngt                     Period              end_dt  \
 0     13.004492,79.990048  15/09 18:30 : 15/09 18:35 2021-09-15 18:35:00
 1     13.004462,79.990054  15/09 18:35 : 15/09 18:40 2021-09-15 18:40:00
 2     13.004462,79.990054  15/09 18:40 : 15/09 18:45 2021-09-15 18:45:00
 3     13.004471,79.990022  15/09 20:35 : 15/09 20:40 2021-09-15 20:40:00
 4     13.004555,79.990118  15/09 20:40 : 15/09 20:45 2021-09-15 20:45:00
 ...                   ...                        ...                 ...
 1074  22.984919,72.415597  21/09 07:40 : 21/09 07:45 2021-09-21 07:45:00
 1075  22.984919,72.415597  21/09 07:45 : 21/09 07:50 2021-09-21 07:50:00
 1076  22.984919,72.415597  21/09 07:50 : 21/09 07:55 2021-09-21 07:55:00
 1077  22.984825,72.415834  21/09 09:10 : 21/09 09:10 2021-09-21 09:10:00
 1078                  NaN  15/09 18:30 : 21/09 09:10 2021-09-21 09:10:00

                        Trip_id
 0     HR55U0990_16.09.2021.xls
 1     HR55U0990_16.09.2021.xls
 2     HR55U0990_16.09.2021.xls
 3     HR55U0990_16.09.2021.xls
 4     HR55U0990_16.09.2021.xls
 ...                        ...
 1074  HR55U0990_16.09.2021.xls
 1075  HR55U0990_16.09.2021.xls
 1076  HR55U0990_16.09.2021.xls
 1077  HR55U0990_16.09.2021.xls
 1078  HR55U0990_16.09.2021.xls

 [1079 rows x 4 columns],
                          Period             Lat,Lngt              end_dt  \
 0     08/09 10:10 : 08/09 10:15  13.004344,79.990042 2021-09-08 10:15:00
 1     08/09 10:15 : 08/09 10:20  13.004344,79.990042 2021-09-08 10:20:00
 2     08/09 10:20 : 08/09 10:25  13.004344,79.990042 2021-09-08 10:25:00

In [300]:
def data_preproccessing(df,col_count,fldname):
    fld = df[fldname]
    #fld2 = df[fldname1]
    df.shape[1] = col_count
    fld_dtype = fld.dtype
    if isinstance(fld_dtype, pd.core.dtypes.dtypes.DatetimeTZDtype):
        fld_dtype = np.datetime64

    if not np.issubdtype(fld_dtype, np.datetime64):
        df['End_dt'] = df_tempa['Period'].map(lambda x:"2021"+"-"+str(x)[17:20]+"-"+str(x)[13:16]+" "+str(x)[20:25])

In [304]:
format_18 = data_preproccessing(df_tempa,2,'Period')

KeyError: 'Period'

In [265]:
df_temp_test = df_tempa.copy()

In [266]:
df_temp_test['col_len'] = df_temp_test.shape[1]

In [267]:
df_temp_testt.head()

    Latitude  Longitude        Packet Time  col_len
0  12.986169  80.007957  17-Sep-2021 00:05        3
1  12.986169  80.007957  17-Sep-2021 00:10        3
2  12.986169  80.007957  17-Sep-2021 00:15        3
3  12.986169  80.007957  17-Sep-2021 00:20        3
4  12.986169  80.007957  17-Sep-2021 00:25        3

In [52]:
import geopy
from geopy.geocoders import GoogleV3
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent='AayushSinha')

In [54]:
lat = "25.594095"
long = "85.137566"

location = geolocator.reverse(lat+","+long)

print(location)

address = location.raw['address']
street = location.raw['street']
print(address)

Patna, Patna Rural, Patna, Bihar, 800001, India

KeyError: 'street'